@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: white;
  font-family: 'NanumSquareRound';
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  padding: 190px;
  padding: 10vh 0 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 60px;
  width: 50%;
  letter-spacing: 5px;
  color: #00acee;
  text-align: center;
  margin-left: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 40px;
}

h3,
p {
  width: 70%;
  line-height: 1.2;
  text-align: justify;
}

p {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 40px;
}

nav {
  width: 90%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* justify-content: space-around; */
  padding: 0;
}

li {
  cursor: pointer;
  margin-right: 19px;
  font-size: 20px;
  opacity: 0.5;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

li:hover {
  opacity: 1;
}

main {
  margin-left: 30%;
}

.project {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 5%,
      transparent,
      transparent,
      transparent,
      transparent
    )
    #00acee;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: white;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

h4 {
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  letter-spacing: 2px;
  font-size: 20px;
}

img {
  max-height: 80%;
  box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
    inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
